<mat-card class="hand" [class.best-hand]="isBest">

  <mat-card-header>
    <div mat-card-avatar class="shiba-inu"></div>
    <mat-card-title>
      <mat-form-field class="player">
        <input type="text" matInput value="{{name}}">
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle *ngIf="bestHand">
      {{ bestHand.name }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li
        *ngFor="let card of cards" class="card {{card.suit}}"
        (click)="toggleThrow(this.card);"
        [class.marked]="waste?.includes(this.card)"
        [class.inBestHand]="bestHand?.cards.includes(this.card)">
        {{card.rank | rank}} {{card.suit | suit}}
      </li>
    </ul>
  </mat-card-content>

</mat-card>
