mat-card.hand {
  margin: 5px;
  width: 500px;
}

.shiba-inu {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.hand .card {
  width: 60px;
  line-height: 90px;
}

.marked {
  box-shadow: 2px 2px #aaa;
  border: 2px solid grey;
}

.inBestHand {
  background: greenyellow;
  font-size: 20pt;
  font-weight: bold;
}

mat-form-field.player {
  width: 80px;

}
.mat-form-field-infix {
  border-top: 0;
  text-align: center;
}
