<h2>Hand</h2>
<!-- *ngIf() with method: remove -->
<p *ngIf="handUtil.isStraight(cards)">Vous avez une suite !</p>
<p *ngIf="handUtil.isFlush(cards)">Vous avez une couleur !</p>
<p *ngIf="handExtractor.getPair(cards)">Vous avez un brelan !</p>
<p *ngIf="handExtractor.getThreeOfAKind(cards)">Vous avez un brelan !</p>
<p *ngIf="handExtractor.getFourOfAKind(cards)">Vous avez un carré !</p>
<p *ngIf="handExtractor.getFullHouse(cards)">Vous avez un full ! {{ handExtractor.getFullHouse(cards) | json}}</p>


<ul>
  <li
    *ngFor="let card of cards" class="{{card.suit}}"
    (click)="toggleThrow(this.card);"
    [class.marked]="waste.includes(this.card)">
    {{card.rank | rank}} {{card.suit | suit}}
  </li>
</ul>

<button class="roll" (click)="roll()">{{'roll' | uppercase}}</button>
