<div class="poker">

  <h3>Deck</h3>
  <ul>
    <li *ngFor="let card of (this.deckStore.deck$ | async)" class="card {{card.suit.valueOf()}}">
      {{card.rank | rank}} {{card.suit | suit}}
    </li>
  </ul>

  <div class="hands">
    <app-hand class="col-6" name="Maï"></app-hand>
    <app-hand class="col-6" name="Kévin"></app-hand>
    <app-hand class="col-6" name="Rydia"></app-hand>
    <app-hand class="col-6" name="Kayn"></app-hand>
  </div>

  <button mat-raised-button color="primary" class="roll" (click)="roll()">{{'draw' | uppercase}}</button>
</div>
