.poker {
  padding: 7px;
}

ul {
  width: 650px;
}

.card {
  list-style-type: none;
  width: 40px;
  line-height: 60px;
  border: 1px solid;
  margin: 2px;
  padding: 2px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  user-select: none;
}

li.heart, li.diamond {
  color: red;
}

button.roll {
  width: 300px;
  margin-left: 50px;
}
